.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footer-bg-color;
  color: $primary-white-color;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }

  &__items {
    @extend %list;
    line-height: 1.71;
  }

  &__logo {
    margin-bottom: 20px;

    &--white {
      color: $primary-white-color;
    }
  }

  &__link {
    font-style: normal;
    line-height: 1.71;
    color: $footer-contact-color;

    transition: color $time $transition-cubic;

    &--white {
      color: $primary-white-color;
    }

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__flex {
    display: block;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-around;
    }

    @media screen and (min-width: 1200px) {
      justify-content: normal;
      flex-wrap: nowrap;
    }
  }

  &__social {
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__contacts {
    margin-bottom: 60px;

    @media screen and (min-width: 1200px) {
      margin-right: 70px;
      margin-bottom: 0;
    }
  }

  &__social-items {
    @extend %list;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  &__social-item {
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 3 * $social-item-gap) / 4);
    }
  }

  &__social-link {
    width: 44px;
    height: 44px;
    @extend %centeredFlex;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    color: $primary-white-color;

    transition: background-color $time $transition-cubic,
      color $time $transition-cubic;

    &:hover,
    &:focus {
      color: $primary-white-color;
      background-color: $accent-color;
    }
  }

  &__social-svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }

  &__subtitle {
    font-size: inherit;
    font-weight: 700;
    text-transform: uppercase;
    color: $primary-white-color;
    margin-bottom: 20px;
  }

  &__form {
    display: block;
    align-items: center;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 450px;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      margin-left: auto;
      align-items: flex-end;
    }
  }

  &__form-subscribe {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
      margin-right: 12px;
      margin-bottom: 0;
    }
  }

  &__form-label {
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: $primary-white-color;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      letter-spacing: 0.03em;
    }
  }

  &__form-email {
    padding: 16px 16px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    @media screen and (min-width: 1200px) {
      width: 358px;
      margin-bottom: 0;
    }

    color: $hero-overlay-color;
    background-color: $footer-bg-color;

    transition: border-color $time $transition-cubic;

    &::placeholder {
      font-size: 16px;
      line-height: 1.25;
      color: rgba(255, 255, 255, 0.6);
    }

    .footer__form-subscribe:focus-within & {
      border: solid 1px rgba(255, 255, 255, 0.6);
      outline: none;
    }
  }

  &__form-button {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 28px 10px 31px;
    min-width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    @extend %centeredFlex;
    letter-spacing: 0.06em;

    color: $primary-white-color;
    background-color: $accent-color;

    transition: background-color $time $transition-cubic;

    &:hover,
    &:focus {
      background-color: $button-active-color;
      cursor: pointer;
    }
  }

  &__form-svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
    margin-left: 10px;
  }
}