.hero {
  text-align: center;
  background-color: $hero-overlay-color;
  color: $primary-white-color;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;

  background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url("../images/hero_480.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url("../images/hero_480x2.jpg");
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url("../images/hero_768.jpg");

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
        url("../images/hero_768x2.jpg");
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;

    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url("../images/hero_1600.jpg");

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
        url("../images/hero_1600x2.jpg");
    }
  }

  &__title {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 1200px) {
      max-width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
  }

  &__btn {
    display: inline-block;
    font-family: inherit;
    border-radius: 4px;
    cursor: pointer;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: transparent;

    @media screen and (min-width: 1200px) {
      padding-left: 32px;
      padding-right: 32px;
    }

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: $primary-white-color;

    transition: background-color $time $transition-cubic;

    &:hover,
    &:focus {
      background: $button-active-color;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      cursor: pointer;
    }
  }
}