/* убираем точки списков */

%list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* убираем подчеркивание ссылок */

%link {
  text-decoration: none;
}

/* делаем одинаковое рассточние между секциями */

%section {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* заголоки h2 на главной странице */

%title-main {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
}

/* скрываем заголовки h1 и h2 на странице*/

%visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* центрируем flex элементы */

%centeredFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}