  $primary-text-color: #212121;
  $secondary-text-color: #757575;
  $primary-white-color: #ffffff;
  $secondary-black-color: #000000;
  $accent-color: #2196F3;
  $button-active-color: #188CE8;
  $footer-bg-color: #2F303A;
  $footer-contact-color: rgba(255, 255, 255, 0.6);
  $work-subtitle-color: rgba(47, 48, 58, 0.8);
  $secondary-bg-color: #F5F4FA;
  $header-line-color: #ECECEC;
  $bottom-border-card: #EEEEEE;
  $social-team-color: #AFB1B8;
  $hero-overlay-color: #C4C4C4;
  $main-font: 'Roboto', sans-serif;
  $secondary-font: 'Raleway', sans-serif;
  $card-set-gap: 30px;
  $social-item-gap: 10px;
  $transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  $time: 250ms;