@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.14;
}
body.modal-open {
  overflow: hidden;
}

/* глобальный сброс margin, padding */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a,
img,
button,
input {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* убираем пподчеркивание у ссылок */
a {
  display: inline-block;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

button {
  border: 0;
}

/* общий класс .container для центрирования и ограничения контента по ширине */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* скрываем заголовки h1 и h2 на странице*/
/* логотип */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

/* убираем точки списков */
.header-contact, .nav {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* убираем подчеркивание ссылок */
a, .logo {
  text-decoration: none;
}

/* делаем одинаковое рассточние между секциями */
/* заголоки h2 на главной странице */
/* скрываем заголовки h1 и h2 на странице*/
.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/* центрируем flex элементы */
.header {
  border-bottom: 1px solid #ECECEC;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header__container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    max-width: 1200px;
  }
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .header__logo {
    padding-top: 24px;
    padding-bottom: 25px;
    font-size: 26px;
  }
}
.header__logo--black {
  color: #000000;
}

.nav {
  display: flex;
  margin-left: 93px;
}
@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}
.nav__item--current {
  color: #2196F3;
}
.nav__item:nth-child(1) {
  margin-right: 51px;
}
@media screen and (min-width: 1200px) {
  .nav__item:nth-child(1) {
    margin-right: 53px;
  }
}
.nav__item:nth-child(2) {
  margin-right: 50px;
}
.nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #2196F3;
}
.nav__link--current::after {
  position: absolute;
  display: block;
  content: "";
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
}

.header-contact {
  display: flex;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .header-contact {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-contact {
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact {
    flex-direction: row;
  }
}
.header-contact__item:not(:last-child) {
  margin-right: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.header-contact__link {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact__link {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.header-contact__link:hover, .header-contact__link:focus {
  color: #2196F3;
}
.header-contact__envelope {
  width: 14px;
  height: 10px;
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .header-contact__envelope {
    width: 16px;
    height: 12px;
  }
}
.header-contact__smartphone {
  width: 10px;
  height: 14px;
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .header-contact__smartphone {
    width: 10px;
    height: 16px;
  }
}
.header-contact__icon--right {
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .header-contact__icon--right {
    margin-right: 10px;
  }
}/*# sourceMappingURL=index.css.map */