@charset "UTF-8";
/* General */
body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.14;
}
body.modal-open {
  overflow: hidden;
}

/* глобальный сброс margin, padding */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a,
img,
button,
input {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* убираем пподчеркивание у ссылок */
a {
  display: inline-block;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

button {
  border: 0;
}

/* общий класс .container для центрирования и ограничения контента по ширине */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* скрываем заголовки h1 и h2 на странице*/
/* логотип */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

/* убираем точки списков */
.social-menu, .contacts-menu, .mobile-menu, .portfolio-card__items, .portfolio-filter__items, .footer__social-items, .footer__items, .clients__items, .team__social-items, .team__items, .work__items, .scills__items, .header-contact, .nav {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* убираем подчеркивание ссылок */
a, .logo {
  text-decoration: none;
}

/* делаем одинаковое рассточние между секциями */
.portfolio-filter, .clients, .team, .work, .scills {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* заголоки h2 на главной странице */
.clients__title, .team__title, .work__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
}

/* скрываем заголовки h1 и h2 на странице*/
.form__checkbox, .hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/* центрируем flex элементы */
.form__button, .form__checkbox-label, .modal__close, .backdrop, .footer__form-button, .footer__social-link, .team__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*index.html*/
.header {
  border-bottom: 1px solid #ECECEC;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header__container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    max-width: 1200px;
  }
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .header__logo {
    padding-top: 24px;
    padding-bottom: 25px;
    font-size: 26px;
  }
}
.header__logo--black {
  color: #000000;
}

.nav {
  display: flex;
  margin-left: 93px;
}
@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}
.nav__item--current {
  color: #2196F3;
}
.nav__item:nth-child(1) {
  margin-right: 51px;
}
@media screen and (min-width: 1200px) {
  .nav__item:nth-child(1) {
    margin-right: 53px;
  }
}
.nav__item:nth-child(2) {
  margin-right: 50px;
}
.nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #2196F3;
}
.nav__link--current::after {
  position: absolute;
  display: block;
  content: "";
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
}

.header-contact {
  display: flex;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .header-contact {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-contact {
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact {
    flex-direction: row;
  }
}
.header-contact__item:not(:last-child) {
  margin-right: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.header-contact__link {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact__link {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.header-contact__link:hover, .header-contact__link:focus {
  color: #2196F3;
}
.header-contact__envelope {
  width: 14px;
  height: 10px;
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .header-contact__envelope {
    width: 16px;
    height: 12px;
  }
}
.header-contact__smartphone {
  width: 10px;
  height: 14px;
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .header-contact__smartphone {
    width: 10px;
    height: 16px;
  }
}
.header-contact__icon--right {
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .header-contact__icon--right {
    margin-right: 10px;
  }
}

.hero {
  text-align: center;
  background-color: #C4C4C4;
  color: #ffffff;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_480.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_480x2.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_768.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_768x2.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_1600.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_1600x2.jpg");
  }
}
.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__btn {
  display: inline-block;
  font-family: inherit;
  border-radius: 4px;
  cursor: pointer;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    padding-left: 32px;
    padding-right: 32px;
  }
}
.hero__btn:hover, .hero__btn:focus {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .scills {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (min-width: 768px) {
  .scills__items {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
}
.scills__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .scills__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .scills__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .scills__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.scills__subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .scills__subtitle {
    text-align: left;
  }
}
.scills__text {
  color: #757575;
  line-height: 1.71;
}
.scills__icons {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: #F5F4FA;
}
.scills__svg {
  width: 70px;
  height: 70px;
}

.work {
  display: none;
  padding-top: 0;
}
@media screen and (min-width: 1200px) {
  .work {
    padding-bottom: 94px;
  }
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .work__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.work__items {
  display: flex;
  margin-left: -30px;
}
.work__item {
  position: relative;
  flex-basis: calc(33.3333333333% - 30px);
  margin-left: 30px;
}
.work__subtitle {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #F5F4FA;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 768px) {
  .team__items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.team__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.team__content {
  padding-top: 24px;
  padding-bottom: 30px;
  text-align: center;
  line-height: 1.19;
}
@media screen and (min-width: 480px) {
  .team__content {
    padding-top: 30px;
    padding-right: 122px;
    padding-bottom: 24px;
    padding-left: 122px;
  }
}
@media screen and (min-width: 768px) {
  .team__content {
    padding-right: 74px;
    padding-left: 74px;
  }
}
@media screen and (min-width: 1200px) {
  .team__content {
    padding: 30px 32px;
  }
}
.team__subtitle {
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 16px;
}
.team__text {
  color: #757575;
  font-size: 16px;
  margin-bottom: 16px;
}
.team__social-items {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  .team__social-items {
    gap: 10px;
  }
}
@media screen and (min-width: 480px) {
  .team__social-item {
    flex-basis: calc((100% - 30px) / 4);
  }
}
.team__social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #AFB1B8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-link:hover, .team__social-link:focus {
  color: #ffffff;
  background-color: #2196F3;
}
.team__social-svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 480px) {
  .clients__items {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .clients__items {
    flex-wrap: nowrap;
  }
}
.clients__item {
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}
.clients__link {
  display: flex;
  height: 92px;
  align-items: center;
  justify-content: center;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  padding: 16px 32px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: #2196F3;
  border-color: #2196F3;
}
.clients__svg {
  fill: currentColor;
}

.company-1 {
  width: 41px;
  height: 46.7px;
}

.company-2 {
  width: 40px;
  height: 52px;
}

.company-3 {
  width: 43.46px;
  height: 41.18px;
}

.company-4 {
  width: 84.44px;
  height: 40.62px;
}

.company-5 {
  width: 62.54px;
  height: 45.43px;
}

.company-6 {
  width: 93.79px;
  height: 43.49px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
  color: #ffffff;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }
}
.footer__items {
  line-height: 1.71;
}
.footer__logo {
  margin-bottom: 20px;
}
.footer__logo--white {
  color: #ffffff;
}
.footer__link {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link--white {
  color: #ffffff;
}
.footer__link:hover, .footer__link:focus {
  color: #2196F3;
}
.footer__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer__flex {
  display: block;
}
@media screen and (min-width: 768px) {
  .footer__flex {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__flex {
    justify-content: normal;
    flex-wrap: nowrap;
  }
}
.footer__social {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__social {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__social {
    display: flex;
    flex-direction: column;
  }
}
.footer__contacts {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-right: 70px;
    margin-bottom: 0;
  }
}
.footer__social-items {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer__social-item {
    flex-basis: calc((100% - 30px) / 4);
  }
}
.footer__social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-link:hover, .footer__social-link:focus {
  color: #ffffff;
  background-color: #2196F3;
}
.footer__social-svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.footer__subtitle {
  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer__form {
  display: block;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__form {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form {
    display: flex;
    margin-left: auto;
    align-items: flex-end;
  }
}
.footer__form-subscribe {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__form-subscribe {
    margin-right: 12px;
    margin-bottom: 0;
  }
}
.footer__form-label {
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .footer__form-label {
    font-size: 14px;
    letter-spacing: 0.03em;
  }
}
.footer__form-email {
  padding: 16px 16px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #C4C4C4;
  background-color: #2F303A;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .footer__form-email {
    width: 358px;
    margin-bottom: 0;
  }
}
.footer__form-email::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer__form-email:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer__form-email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer__form-subscribe:focus-within .footer__form-email {
  border: solid 1px rgba(255, 255, 255, 0.6);
  outline: none;
}
.footer__form-button {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 28px 10px 31px;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196F3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__form-button:hover, .footer__form-button:focus {
  background-color: #188CE8;
  cursor: pointer;
}
.footer__form-svg {
  width: 24px;
  height: 24px;
  fill: currentColor;
  margin-left: 10px;
}

/*portfolio.html*/
@media screen and (min-width: 1200px) {
  .portfolio-filter {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.portfolio-filter__items {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 8px;
  grid-row-gap: 15px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .portfolio-filter__items {
    width: 100%;
    flex-wrap: nowrap;
    margin-bottom: 30px;
    justify-content: center;
    grid-row-gap: 0;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-filter__items {
    grid-gap: 0;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-filter__item:not(:last-child) {
    margin-right: 8px;
  }
}
.portfolio-filter__button {
  display: inline-block;
  min-width: 73px;
  border: transparent;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  background-color: #F5F4FA;
  color: #212121;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-filter__button:hover, .portfolio-filter__button:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
  background-color: #2196F3;
  color: #ffffff;
}

.portfolio-card__content {
  padding: 20px 24px;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-card__content--padding {
    padding-bottom: 56px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-card__items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (max-width: 767px) {
  .portfolio-card__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-card__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-card__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
.portfolio-card__subtitle {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.portfolio-card__description {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}
.portfolio-card__link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card__link:hover, .portfolio-card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-card__overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-card__text {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 10px 10px;
  font-size: 12px;
  line-height: 1.56;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .portfolio-card__text {
    font-size: 18px;
    padding: 77px 24px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-card__text {
    padding: 49px 24px 77px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-card__text {
    padding: 63px 24px;
  }
}
.portfolio-card__link:hover .portfolio-card__text, .portfolio-card__link:focus .portfolio-card__text {
  transform: translateY(0);
}

/*mobile-menu*/
.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-right: 8px;
  padding-left: 8px;
  background-color: transparent;
  color: #212121;
  border: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle__open {
  fill: currentColor;
  width: 24px;
  height: 16px;
}
.menu-toggle__close {
  fill: currentColor;
  width: 18.67px;
  height: 18.67px;
}
.menu-toggle__btn-close {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 15px;
  top: 10px;
  cursor: pointer;
  transform: rotate(0);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-toggle__btn-close:hover, .menu-toggle__btn-close:focus {
  color: #2196F3;
  transform: rotate(180deg);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 84px 48px 40px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  z-index: 999;
  overflow-y: scroll;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container.is-open {
  transform: translateX(0);
}
@media screen and (max-width: 459px) {
  .menu-container {
    padding: 40px 25px;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.mobile-menu__item:nth-child(1) {
  margin-bottom: 35.71px;
}
.mobile-menu__item:nth-child(2) {
  margin-bottom: 32px;
}
.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 275px) {
  .mobile-menu__link {
    font-size: 32px;
  }
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #2196F3;
}
.mobile-menu__link--current {
  color: #2196F3;
}
.menu-toggle__btn-close:hover + ul > li > .mobile-menu__link--current, .menu-toggle__btn-close:focus + ul > li > .mobile-menu__link--current {
  color: inherit;
}

.mobile-contacts {
  margin-top: auto;
}

.contacts-menu {
  margin-bottom: 64px;
}
.contacts-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.contacts-menu__tel {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
}
.contacts-menu__tel:hover, .contacts-menu__tel:focus {
  color: #2196F3;
}
@media screen and (min-width: 459px) {
  .contacts-menu__tel {
    font-size: 34px;
  }
}
.contacts-menu__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}
.contacts-menu__mail:hover, .contacts-menu__mail:focus {
  color: #2196F3;
}

.social-menu {
  display: flex;
}
@media screen and (max-width: 390px) {
  .social-menu {
    flex-wrap: wrap;
  }
}
.social-menu__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}
.social-menu__item:not(:first-child) {
  padding-left: 10px;
}
.social-menu__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

/* Modal */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: scale(2);
}

.modal {
  padding: 25px;
  position: relative;
  overflow-y: auto;
  width: 100%;
  max-width: 275px;
  min-height: 520px;
  background-color: #ffffff;
  transform: scale(1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .modal {
    padding: 40px;
    max-width: 450px;
    min-height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    min-height: 581px;
  }
}
.modal__svg {
  width: 18px;
  height: 18px;
  fill: currentColor;
}
.modal__close {
  position: absolute;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover, .modal__close:focus {
  color: #2196F3;
  cursor: pointer;
}

.form__input-container {
  margin-bottom: 20px;
}
.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .form__title {
    line-height: 1.05;
  }
}
.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
}
.form__field:not(:last-child) {
  margin-bottom: 10px;
}
.form__svg {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field:focus-within .form__svg {
  fill: #2196F3;
  border-color: #2196F3;
  outline: none;
}
.form__label, .form__comment {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}
.form__input, .form__comment {
  max-width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  padding-right: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field:focus-within .form__input, .form__field:focus-within .form__comment {
  fill: #2196F3;
  border-color: #2196F3;
  outline: none;
}
.form__comment--decor {
  padding: 12px 16px;
  height: 120px;
  resize: none;
  color: inherit;
  margin-bottom: 0;
}
.form__comment--decor::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__comment--decor:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__comment--decor::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__checkbox-container {
  margin-bottom: 30px;
}
.form__checkbox-label {
  line-height: 0.9;
  color: #757575;
  font-size: 7px;
}
@media screen and (min-width: 480px) {
  .form__checkbox-label {
    line-height: 1.7;
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .form__checkbox-label {
    font-size: 14px;
  }
}
.form__checkbox-svg {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  fill: #ffffff;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__checkbox:checked + .form__checkbox-svg {
  background-color: #2196F3;
  border-color: #2196F3;
}
.form__checkbox-container:focus-within .form__checkbox-svg {
  border: 2px solid #2196F3;
}
.form__checkbox-link {
  color: #2196F3;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration: underline;
}
.form__button {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: #2196F3;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__button:focus, .form__button:hover {
  background-color: #188CE8;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */